FLASK_DEBUG=True
DBNAME='shoeb-pythonapp-database'
DBHOST='shoeb-pythonapp-server.postgres.database.azure.com'
DBUSER='ckszzptxqi'
DBPASS='WSB03UIEBN755WUG$'
SECRET_KEY='b62242a4e22295482e0909232e06c0115e1868a2b690498f28cd4d9ba57742a7'
